*,
*::after,
*::before{
    box-sizing: border-box;
}

@media only screen and (min-width: 0px) {


    .sm-1 {width: 8.33%;}
    .sm-2 {width: 16.66%;}
    .sm-3 {width: 25%;}
    .sm-4 {width: 33.33%;}
    .sm-5 {width: 41.66%;}
    .sm-6 {width: 50%;}
    .sm-7 {width: 58.33%;}
    .sm-8 {width: 66.66%;}
    .sm-9 {width: 75%;}
    .sm-10 {width: 83.33%;}
    .sm-11 {width: 91.66%;}
    .sm-12 {width: 100%;}
}

@media only screen and (min-width: 900px) {


    .md-1 {width: 8.33%;}
    .md-2 {width: 16.66%;}
    .md-3 {width: 25%;}
    .md-4 {width: 33.33%;}
    .md-5 {width: 41.66%;}
    .md-6 {width: 50%;}
    .md-7 {width: 58.33%;}
    .md-8 {width: 66.66%;}
    .md-9 {width: 75%;}
    .md-10 {width: 83.33%;}
    .md-11 {width: 91.66%;}
    .md-12 {width: 100%;}
}

@media only screen and (min-width: 1100px) {


    .lg-1 {width: 8.33%;}
    .lg-2 {width: 16.66%;}
    .lg-3 {width: 25%;}
    .lg-4 {width: 33.33%;}
    .lg-5 {width: 41.66%;}
    .lg-6 {width: 50%;}
    .lg-7 {width: 58.33%;}
    .lg-8 {width: 66.66%;}
    .lg-9 {width: 75%;}
    .lg-10 {width: 83.33%;}
    .lg-11 {width: 91.66%;}
    .lg-12 {width: 100%;}
}

body{
    margin: 0px;
}

.navbar{
    background-color: gray;
}

.navbar a:hover{
    color: white !important;
}

.navbar-collapse{
    direction: rtl;
}

.mr-auto, .mx-auto {
    margin-right: 0px !important;
    direction: rtl;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.nav-link{
    padding-right: 4px !important;
}

.aboutParent{
    border: solid 1px black;
    width: 100%;
    height: 300px;
    margin-top: 15px;
    background-color: gold;
}

.aboutParent h4{
    text-align: right;
    background-color: antiquewhite;
    height: 50px;
}

.aboutParent h1{
    text-align: center;
}