<!DOCTYPE html>
<html lang="en">

<head>
    <!-- import Duplicate elements of head tag (use bootstrap and w3 icon)-->
    <%- include ("../../partials/headTag.ejs") -%> 
    <link rel="stylesheet" href="../../../CSS/mainPagesStyle/contactUs.css">
    <title>Contact Us</title>
</head>

<body>

    <!-- import header -->
    <%- include ("../../partials/body-headerLinks.ejs") -%> 

    <!-- view -->
    <div class="contactParent">
        <h4>تماس با ما</h4>
        <h1>کار داشتی میس بنداز :||</h1>
    </div>
    
    <!-- import duplicate scripts (jquery and bootstrap) -->
    <%- include ("../../partials/body-scripts.ejs") -%> 
    <!-- for use local js -->
    <script src=""></script>
</body>

</html>